name: Hack25-AI-Tutor
services:
  sqlpreview:
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Im@5ldnm!
      - MSSQL_PID=Evaluation
    ports:
      - 1433:1433
    container_name: sqlpreview
    hostname: sqlpreview
    image: mcr.microsoft.com/mssql/server:2025-latest
    volumes:
      - db_data_mssql:/var/opt/mssql
    deploy:
      resources:
        limits:
          memory: 24g

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - 11434:11434
    volumes:
      - ollama:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "
      ollama serve & 
      sleep 5 &&
      ollama pull gemma3:270m &&
      ollama pull nomic-embed-text &&
      wait
      "

  backend:
    build:
      context: ./rest-api
      dockerfile: Dockerfile
    container_name: airepetitor-backend
    ports:
      - "8030:8030"
    depends_on:
      - ollama
    environment:
      - OLLAMA_URL=http://ollama:11434
      - OLLAMA_CHAT_MODEL=gemma3:270m
      - OLLAMA_EMBED_MODEL=nomic-embed-text
    volumes:
      - ./Notebooks:/app/Notebooks
      - backend_sqlite:/app

  web:
    container_name: airepetitor-web
    build:
      context: ./AiRepetitor
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    environment:
      - ConnectionStrings__Default=Server=sqlpreview,1433;Database=master;User Id=sa;Password=Im@5ldnm!;TrustServerCertificate=True;
      - OLLAMA_URL=http://ollama:11434
      - MODEL_OLLAMA_CHAT=gemma3:270m
      - MODEL_OLLAMA_EMBEDDING=nomic-embed-text
      - BACKEND_URL=http://backend:8030
      - SEED_USER_USERNAME=ruslan
      - SEED_USER_EMAIL=ruslan@example.com
      - SEED_USER_PASSWORD=1234
    depends_on:
      - sqlpreview
      - ollama
      - backend
    volumes:
      - data_protection:/root/.aspnet/DataProtection-Keys
      - web_identity:/app

volumes:
  db_data_mssql:
  ollama:
  data_protection:
  backend_sqlite:
  web_identity:       
