#fastapi==0.104.1
fastapi==0.115.8
uvicorn[standard]==0.24.0
sqlalchemy==2.0.23
alembic==1.12.1
pydantic==2.7.4          # <<< ВАЖНО: обновили с 2.5.0 на 2.7.4
pydantic-settings==2.1.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.0
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
sse-starlette==2.3.6
bcrypt==4.1.2
pyjwt==2.8.0
typing-extensions==4.9.0
#anyio==4.2.0   # так и оставляем закомментированным

num2words==0.5.14
email-validator==2.1.0.post1
langchain-classic==1.0.0
