/*Chat.razor.css*/
.chat-container {
    position: sticky; 
    bottom: 0; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    padding-top: 0.75rem; 
    padding-bottom: 1.5rem; 
    border-top-width: 1px; 
    background-color: #F3F4F6; 
    border-color: #E5E7EB;
}


/* Корневой контейнер чата (чтобы фон был под модальным окном) */
.chat-root {
    position: relative;
    min-height: 100vh;
    background-color: #F3F4F6;
}

